@import '~bootstrap/scss/bootstrap';
$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $black;

#total-games{
   border: 3px solid $black;
}

.box {
  align-items: center;
  background-color: $white;
  border: 3px solid $black;
  color: $font-color;
  font-weight: 700;
  font-size: 60px;
  display: flex;
  height: 80px;
  justify-content: center;
}

#test{
//   margin: 0 1em;
   width: 100%;
}

.nav-sign-up{
//   text-align: center;
   font-size: .3em;
}

.extra-row{
   height: 40%;
}

#sign-up{
   height: 100%;
}

#sign-in{
   height: 100%;
}

.failure{
   color: red;
}
.success{
   color: green;
}

.boxsize{
   height: 150px;
}