@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
$alt-color: $cyan;
$body-bg-color: rgb(216, 216, 216);
$font-color: $black;

#total-games{
   border: 3px solid $black;
   background-color: rgb(155, 146, 146);
}

body{
   background-color: $body-bg-color;
   font-family: 'Acme', sans-serif;
}

.box {
  align-items: center;
  background-color: $body-bg-color;
  border: 3px solid $black;
  color: $font-color;
  font-weight: 700;
  font-size: 60px;
  display: flex;
  height: 150px;
  justify-content: center;
}

#test{
//   margin: 0 1em;
   width: 100%;
}

.nav-font{
   text-align: center;
   font-size: .3em;
}

.extra-row{
   height: 40%;
}

#sign-up, #change-pw, #sign-in{
   height: 100%;
}

#sign-out{
   height: 100%;
   width: 100%;
}

.full{
   width: 100%;
   height: 100%;
   min-height: 100%;
}

.failure{
   color: red;
}
.success{
   color: green;
}

.winner-color{
   background-color: rgb(135, 206, 150);
}

.nav-color{
   background-color: #81c8d3;
}

.game-box, .demo-box {
   align-items: center;
   border: 3px solid rgb(59, 58, 58);
   color: $font-color;
   font-weight: 700;
   font-size: 150px;
   display: flex;
   height: 180px;
   justify-content: center;
 }